black==24.4.2
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
filelock==3.14.0
identify==2.5.36
idna==3.7
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.1
pre-commit==3.7.0
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
tomli==2.0.1
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.26.1
